.realtime-date-time{
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}
.booking-text{
    margin: 0 auto;
}
.progress, .progress1{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.img{
    text-align: center;
}
.products-container{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex: wrap;
    justify-content: center;
}
.hotel-stats,.flights-stats{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 20px auto;
}

@media only screen and (max-width: 1400px) {
    .products-container {
       flex-direction: column;
    }
}
