<div class="header" >
    <div class="header-logo-area">
        <div><img class="logo" id="abc" aria-label="Logo" src="/src/assets/images/tavisca.png"></div>
    </div>
    <mat-tab-group class="tab-bar" tabindex="-1">
        <mat-tab tabindex="2" aria-label="Home">
            <ng-template mat-tab-label>
                <span></span><img class="product-icon" src="/src/assets/images/home.png">
            </ng-template>
            <ng-template matTabContent>
                <div class="tab-content">
                    <home></home>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab tabindex="3" aria-label="Hotel">
            <ng-template mat-tab-label>
                <span>Hotel</span>
                <img class="product-icon" src="/src/assets/images/hotel.png">
            </ng-template>
            <ng-template matTabContent>
                <widget></widget>
            </ng-template>
        </mat-tab>
        <mat-tab tabindex="4" aria-label="Flight">
            <ng-template mat-tab-label>
                <span>Flight</span>
                <img class="product-icon" src="/src/assets/images/flight.png">
            </ng-template>
            <ng-template matTabContent>
                <flight-widget></flight-widget>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>