
button,mat-form-field{
    height: 40px;
    margin: 15px;
    min-width: 200px;
}
#graphs {
    width: 90%;
    margin: 105px auto;
    /*height: 100vh;*/
}
/*.hotel-form{
    width: 100%;
}*/
.hotel-form{
    width: 100%; 
    margin: 0 auto;
    background-color: white;
    text-align: center;
    z-index : 1;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.forms{
    margin: 13px auto;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
@media only screen and (max-width: 600px) {
    .forms {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
}
