#supplier-name-chart {
    height: 350px;
}

#supplier-name-chart-container {
    margin: 30px auto;
    box-shadow: 10px 10px 20px #888888;
}

#lol {
    color: red;
}

mat-select {
    width: 200px;
    align-content: right;
}
@media only screen and (max-width: 1200px) {
    #supplier-name-chart {
        margin: 20px auto;
        height: 300px;
    }
}

@media only screen and (max-width: 800px) {
    #supplier-name-chart {
        margin: 20px auto;
        height: 200px;
    }
}