.stats-flight {
    width: 700px;
    height: 500px;
}
@media only screen and (max-width: 800px) {
    .stats-flight {
        width: 600px;
        height: 400px;
    }
}
@media only screen and (max-width: 650px) {
    .stats-flight {
        width: 400px;
        height: 300px;
    }
}
@media only screen and (max-width: 450px) {
    .stats-flight {
        width: 300px;
        height: 200px;
    }
}